@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate-ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-container {
  @apply relative overflow-hidden;
}
